body {
  background-color: #f5f6fa;
  color: #636981;
  font-family: sans-serif;
  font-size: 16px;
}

/* Fazer com que números usem fonte diferente */
body *:is(p, span, div, h1, h2, h3, h4, h5, h6) {
  font-family: sans-serif;
}

h1 {
  color: #db3d2d;
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}

h2 {
  color: #26538e !important;
  font-size: 24px !important;
  line-height: 32px !important;
}

h3 {
  color: #26538e !important;
  font-size: 20px !important;
  line-height: 28px !important;
}

h4 {
  color: #6ba7ed !important;
  font-size: 20px !important;
  line-height: 28px !important;
}

.small-notice {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 32px;
}

label {
  display: inline-block;
  color: #26538e;
  margin: 16px 0;
  line-height: 24px;
  font-weight: bold;
  font-size: 16px;
}

input[type="number"], select, button {
  height: 48px;
  line-height: 24px;
  padding: 12px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #8e92ae;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.2s, border-color 0.2s;
  margin-top: 24px;
  /* Distance between input and label */
}

input[type="number"]:hover {
  background-color: #f5f6fa;
}

input[type="number"]:active {
  background-color: #e7e8f0;
}

input[type="number"]:focus {
  outline: 2px;
  border-color: #6ba7ed;
  background-color: white;
  border-width: 2px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #8e92ae;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.2s, border-color 0.2s;
  margin-top: 4px;
  /* Distance between select box and label */
  background-color: white;
  /* Default background for select */
  appearance: none;
  /* Remove default dropdown styling */
}

select:hover {
  background-color: #f5f6fa;
}

select:active {
  background-color: #e7e8f0;
}

select:focus {
  outline: none;
  border-color: #6ba7ed;
  border-width: 2px;
  background-color: white;
}

select option[disabled] {
  color: #b0b0b0;
  /* Gray out the disabled options */
  font-style: italic;
}

.selector-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
  width: 100%;
}

.selector-container select {
  flex-shrink: 0;
  flex-grow: 1;
  width: auto;
  margin-top: 0;
  height: 48px;
  box-sizing: border-box;
}


/* Style for the primary segmented button */
.segmented-button {
  display: flex;
  border-radius: 8px;
  align-items: center;
  border: 1px solid #dde0ea;
  background-color: #f9fafc;
  height: 48px;
  padding: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
}

.segmented-button input[type="radio"] {
  display: none;
}

.segmented-button label {
  flex: 1;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #f5f6fa;
  color: #555c76;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.segmented-button label:first-child {
  border-radius: 8px 0 0 8px;
}

.segmented-button label:last-child {
  border-radius: 0 8px 8px 0;
}

/* Selected option styling */
.segmented-button input[type="radio"]:checked+label {
  background-color: #FFFFFF;
  color: #2b2e4a;
  border-radius: 8px;
  border: 1px solid #8b93ac;
}

/* Secondary segmented button styling */
.secondary-segmented-button {
  display: inline-flex;
  border-radius: 8px;
  align-items: center;
  border: 1px solid #dde0ea;
  background-color: #f9fafc;
  height: 32px;
  padding: 0;
  justify-content: flex-start;
}

/* Align the button container to the right */
.secondary-segmented-button-container {
  display: flex;
  justify-content: flex-end; /* Right-aligns the button itself */
}

/* Non-selected options */
.secondary-segmented-button label {
  padding: 6px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #f5f6fa;
  color: #555c76;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.secondary-segmented-button input[type="radio"] {
  display: none;
}

/* Selected option */
.secondary-segmented-button input[type="radio"]:checked+label {
  background-color: #FFFFFF;
  color: #2b2e4a;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid #8b93ac;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 4px 8px rgba(0, 0, 0, 0.04);
}

.segmented-button label:hover,
.secondary-segmented-button label:hover {
  background-color: #e6e8ef;
}


/* Style for the input range slider */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background-color: #e7e8f0;
  border-radius: 4px;
  outline: none;
  margin-top: 4px;
  transition: background-color 0.3s ease;
}

/* Custom track styling */
input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: linear-gradient(to right, #35518d 0%, #35518d var(--range-percent), #e7e8f0 var(--range-percent), #e7e8f0 100%);
  border-radius: 4px;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background-color: #e7e8f0;
  border-radius: 4px;
}

input[type="range"]::-ms-track {
  height: 8px;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-moz-range-progress {
  background-color: #35518d;
  /* Filled portion color */
}

input[type="range"]::-ms-fill-lower {
  background-color: #35518d;
  /* Filled portion color */
}

/* Thumb (handler) styling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  /* Updated thumb size */
  height: 24px;
  /* Updated thumb size */
  background-color: #ffffff;
  /* Color of the thumb */
  border: 2px solid #6ba7ed;
  /* Stroke/outline around the thumb */
  border-radius: 50%;
  /* Make the thumb circular */
  cursor: pointer;
  margin-top: -8px;
  /* Center the thumb vertically with the track */
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 2px solid #6ba7ed;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 2px solid #6ba7ed;
  border-radius: 50%;
  cursor: pointer;
}

/* Dynamic fill for Webkit browsers */
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(to right, #35518d 0%, #35518d var(--range-percent), #e7e8f0 var(--range-percent), #e7e8f0 100%);
}

#numDependentes {
  font-weight: bold;
}

.label-indent {
  margin-left: 40px;
}


.dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
}

.custom-legend {
  font-size: 14px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 120px;
  /* Adjust height to fit the bars */
}

.icon {
  height: 20px;
  display: flex;
  margin-right: 8px;
}

.author-badge {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #ffffff;
  padding: 8px 16px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  text-decoration: none;
  z-index: 999;
  transition: background-color 0.3s, color 0.3s;
}

.author-badge:hover {
  background-color: #f5f6fa;
}

.author-badge a {
  color: #6a0dad;
  font-size: 16px;
  line-height: 1;
  /* Adjust line height to eliminate extra spacing */
  text-decoration: none;
  display: flex;
  align-items: center;
}

.author-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.container {
  max-width: 100%;
  background-color: #fcfcfc;
  box-shadow: 4px 16px 32px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 120px auto;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Table container styling */
.price-table {
  margin-top: 20px;
  border-radius: 8px;
  /* Rounded corners */
  overflow: hidden;
  /* Ensures rounded corners apply to the entire table */
}

.price-table table {
  width: 100%;
  border-collapse: separate;
  /* Allows rounded corners */
  border-spacing: 0;
  border-radius: 8px;
  /* Rounded corners */
}

/* Highlight selected row */
.selected-row {
  box-shadow: inset 0 0 0 4px #4bc0c0;
  border-radius: 8px;
}

/* General table row styling for td and th */
.price-table td,
.price-table th {
  border: 1px solid #e6e8ef;
  /* Grid dividers */
  padding: 0 24px;
  /* Horizontal padding */
  color: #585f78;
  text-align: right;
  /* Right-align all content by default */
}

/* General table row height for td */
.price-table td {
  height: 80px;
  /* Regular row height */
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  /* Regular text weight */
}

/* Header row styling */
.price-table th {
  height: 48px;
  /* Header row height */
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  /* Bold text */
  background-color: #f4f4f4;
}

/* First column specific styling */
.price-table td:first-child,
.price-table th:first-child {
  text-align: left;
  /* Left-align the first column */
  font-weight: bold;
  /* Bold text */
  font-size: 16px;
  line-height: 24px;
}

/* Hover effect for table rows */
.price-table tr:hover {
  background-color: #f9fafc;
}


#chart-container {
  margin-top: 24px;
  width: 100%;
  max-width: 1080px;
  height: auto;
}

#price-chart {
  width: 100% !important;
  height: auto !important;
  min-height: 256px;
  max-height: 512px;
}

#productSelect {
  margin-top: 10px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: max-content;
}



/* Desktop and Tablet Screens */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 720px; /* Ensure there's 120px margin on each side */
  }
}




/* Small Tablets and Mobile Screens */
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 16px;
    margin: 0;
    width: 100%;
  }

  #chart-container {
    width: 100%;
    max-width: 720px;
    height: auto;
    margin: 24px auto;
  }

  #price-chart {
    width: 100%;
    height: 512px;
  }

  input[type="number"],
  .segmented-button,
  select,
  button {
    width: 100%;
    margin-bottom: 16px;
  }

  .author-avatar {
    display: none;
  }

  .selector-container {
    flex-direction: column;
    width: 100%;
  }
}

/* Very Small Screens */
@media screen and (max-width: 480px) {
  body {
    padding: 0;
    margin: 0;
  }

  .container {
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-shadow: none;
  }

  #chart-container {
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-shadow: none;
  }

  #price-chart {
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    box-shadow: none;
  }



  .dot {
    width: 12px;
    height: 12px;
  }


  .author-badge {
    padding: 8px 8px;
    border-radius: 16px;
  }

  .author-badge a {
    font-size: 14px;
  }

  .author-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
  }

  h1 {
    color: #db3d2d !important;
    font-size: 24px !important;
    line-height: 32px !important;
  }


}

